nifi/template/WeatherBronze.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b260a481-0192-1000-f244-c7694e1f0ed9</groupId>
    <name>WeatherBronze</name>
    <snippet>
        <processGroups>
            <id>65732015-c9eb-3e0b-0000-000000000000</id>
            <parentGroupId>549e418b-8f44-38a7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>00e0f83b-b91b-32ab-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>654.999988433146</x>
                        <y>-155.50001410236587</y>
                    </bends>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>1a6b42c9-cb5f-3378-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9d51750c-e537-36ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0773ad90-31eb-3717-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>7ae91c5f-67ce-37b5-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>12912eb1-9980-30a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>09be87e9-7231-3663-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9f1f73f6-8cfd-354e-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>1a6b42c9-cb5f-3378-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>166b1620-04a2-3f56-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>e226315c-e4b0-30a7-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>27d3338e-d49f-3a3c-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>c9468d99-7af9-30e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>12912eb1-9980-30a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>297df1cb-593b-3242-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>683a2fcb-4021-3e4d-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>edcc976f-f6e6-37e7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>32feea50-8529-36e2-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>683a2fcb-4021-3e4d-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>d012fb6d-ff69-335b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e6950fc-377e-3aec-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b6c3980f-efb8-37fa-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>f0859032-6781-3ec2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>43e5f1e2-862a-3315-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>7ae91c5f-67ce-37b5-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b048c124-2af6-3229-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>510881af-9676-345d-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9d51750c-e537-36ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>11607912-312d-3d0a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>583016f6-b11e-399b-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>12912eb1-9980-30a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>dba206e5-943d-35b7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5a26c639-bc97-3ac1-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9f1f73f6-8cfd-354e-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>1017b747-2099-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>626e799d-c814-3082-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9f1f73f6-8cfd-354e-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f9f826e-e2be-31b0-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b6c3980f-efb8-37fa-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>abbdc7d7-8c57-319c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>707bff25-6442-3cad-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>e1b0cb0b-ece1-3024-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>dba206e5-943d-35b7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>78520bb3-037c-3370-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>dba206e5-943d-35b7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>00443ff3-d431-39b3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8f0ee336-2976-374f-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>d012fb6d-ff69-335b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>92f754f0-635f-30cf-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>1017b747-2099-3039-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>66ef3ba8-d2b3-31f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>999aace3-a4bd-36d6-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>e1b0cb0b-ece1-3024-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9d51750c-e537-36ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ad07c4ce-5e0f-3355-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>edcc976f-f6e6-37e7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bee39251-54f2-3921-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>66ef3ba8-d2b3-31f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cd3b4350-0000-38ba-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>7ae91c5f-67ce-37b5-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>c9468d99-7af9-30e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cfdbe4ac-9827-31cd-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b6c3980f-efb8-37fa-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>11607912-312d-3d0a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>da529234-31af-3d8d-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b048c124-2af6-3229-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>c9468d99-7af9-30e2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>db6363b4-d887-3902-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>edcc976f-f6e6-37e7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>f0859032-6781-3ec2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df03e541-3897-3c59-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>11607912-312d-3d0a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>abbdc7d7-8c57-319c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e04a99f6-9305-3e55-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>abbdc7d7-8c57-319c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>b048c124-2af6-3229-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ecd78d5e-b117-3f2f-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>9f1f73f6-8cfd-354e-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>66ef3ba8-d2b3-31f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb1b7948-89d2-3d73-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>f0859032-6781-3ec2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>65732015-c9eb-3e0b-0000-000000000000</groupId>
                        <id>1a6b42c9-cb5f-3378-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>683a2fcb-4021-3e4d-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>616.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>7ae91c5f-67ce-37b5-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>70.99998843314597</x>
                        <y>604.4999858976341</y>
                    </position>
                </funnels>
                <funnels>
                    <id>9f1f73f6-8cfd-354e-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1176.0</x>
                        <y>128.0</y>
                    </position>
                </funnels>
                <funnels>
                    <id>b6c3980f-efb8-37fa-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>622.999988433146</x>
                        <y>284.49998589763413</y>
                    </position>
                </funnels>
                <funnels>
                    <id>e1b0cb0b-ece1-3024-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>62.99998843314597</x>
                        <y>-19.500014102365867</y>
                    </position>
                </funnels>
                <outputPorts>
                    <id>e226315c-e4b0-30a7-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1448.0</x>
                        <y>768.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>WeatherFromBronze</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'WeatherFromBronze'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>00443ff3-d431-39b3-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-369.000011566854</x>
                        <y>-211.50001410236587</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/home/data</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>HCMC_Weather.json</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>1017b747-2099-3039-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1368.0</x>
                        <y>-192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Content Disposition</key>
<value>
    <name>Content Disposition</name>
</value>
                            </entry>
                            <entry>
<key>Cache Control</key>
<value>
    <name>Cache Control</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-class-name</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-module-location</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>
    <name>s3-temporary-directory-multipart</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>
    <name>use-chunked-encoding</name>
</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>
    <name>use-path-style-access</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>weather/${datetime}-HCMC</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>bronze</value>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Content Disposition</key>
                            </entry>
                            <entry>
<key>Cache Control</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http://minio:9000</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>50 MB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>50 MB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>${java.io.tmpdir}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>true</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>11607912-312d-3d0a-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>206.99998843314597</x>
                        <y>92.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Access Strategy</key>
<value>
    <name>Schema Access Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
    <name>JSON Schema Registry</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema Version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Access Strategy</key>
<value>SCHEMA_CONTENT_PROPERTY</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>{
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string",
            "format": "date"
          },
          "datetimeEpoch": {
            "type": "integer"
          },
          "tempmax": {
            "type": "number"
          },
          "tempmin": {
            "type": "number"
          },
          "temp": {
            "type": "number"
          },
          "feelslikemax": {
            "type": "number"
          },
          "feelslikemin": {
            "type": "number"
          },
          "feelslike": {
            "type": "number"
          },
          "dew": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "precip": {
            "type": "number"
          },
          "precipprob": {
            "type": "number"
          },
          "precipcover": {
            "type": "number"
          },
          "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
		  ,
          "snow": {
            "type": "number"
          },
          "snowdepth": {
            "type": "number"
          },
          "windgust": {
            "type": "number"
          },
          "windspeed": {
            "type": "number"
          },
          "winddir": {
            "type": "number"
          },
          "pressure": {
            "type": "number"
          },
          "cloudcover": {
            "type": "number"
          },
          "visibility": {
            "type": "number"
          },
          "solarradiation": {
            "type": "number"
          },
          "solarenergy": {
            "type": "number"
          },
          "uvindex": {
            "type": "number"
          },
          "severerisk": {
            "type": "number"
          },
          "sunrise": {
            "type": "string"
          },
          "sunriseEpoch": {
            "type": "integer"
          },
          "sunset": {
            "type": "string"
          },
          "sunsetEpoch": {
            "type": "integer"
          },
          "moonphase": {
            "type": "number"
          },
          "conditions": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "stations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "hours": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string",
                  "format": "time"
                },
                "datetimeEpoch": {
                  "type": "integer"
                },
                "temp": {
                  "type": "number"
                },
                "feelslike": {
                  "type": "number"
                },
                "humidity": {
                  "type": "number"
                },
                "dew": {
                  "type": "number"
                },
                "precip": {
                  "type": "number"
                },
                "precipprob": {
                  "type": "number"
                },
                "snow": {
                  "type": "number"
                },
                "snowdepth": {
                  "type": "number"
                },
                "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
                "windgust": {
                  "type": "number"
                },
                "windspeed": {
                  "type": "number"
                },
                "winddir": {
                  "type": "number"
                },
                "pressure": {
                  "type": "number"
                },
                "visibility": {
                  "type": "number"
                },
                "cloudcover": {
                  "type": "number"
                },
                "solarradiation": {
                  "type": "number"
                },
                "solarenergy": {
                  "type": "number"
                },
                "uvindex": {
                  "type": "number"
                },
                "severerisk": {
                  "type": "number"
                },
                "conditions": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source": {
                  "type": "string"
                }
              }
            }
          },
          "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "resolvedAddress": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              },
              "tzoffset": {
                "type": "number"
              },
              "name": {
                "type": "string"
              }
        }
      }</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>DRAFT_2020_12</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateJson</type>
                </processors>
                <processors>
                    <id>12912eb1-9980-30a1-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-353.000011566854</x>
                        <y>420.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>address</key>
<value>
    <name>address</name>
</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>
    <name>latitude</name>
</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>
    <name>longitude</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                            <entry>
<key>resolvedAddress</key>
<value>
    <name>resolvedAddress</name>
</value>
                            </entry>
                            <entry>
<key>timezone</key>
<value>
    <name>timezone</name>
</value>
                            </entry>
                            <entry>
<key>tzoffset</key>
<value>
    <name>tzoffset</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>address</key>
<value>$.address</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>$.latitude</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>$.longitude</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                            <entry>
<key>resolvedAddress</key>
<value>$.resolvedAddress</value>
                            </entry>
                            <entry>
<key>timezone</key>
<value>$.timezone</value>
                            </entry>
                            <entry>
<key>tzoffset</key>
<value>$.tzoffset</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>1a6b42c9-cb5f-3378-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>742.999988433146</x>
                        <y>-203.50001410236587</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.hours[*]</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>56e1aef3-f91c-3b00-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1376.0</x>
                        <y>440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Access Strategy</key>
<value>
    <name>Schema Access Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
    <name>JSON Schema Registry</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema Version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Access Strategy</key>
<value>SCHEMA_CONTENT_PROPERTY</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>{
  "type": "object",
  "properties": {
    "datetime": {
      "type": "string"
    },
    "datetimeEpoch": {
      "type": "integer"
    },
    "temp": {
      "type": "number"
    },
    "feelslike": {
      "type": "number"
    },
    "humidity": {
      "type": "number"
    },
    "dew": {
      "type": "number"
    },
    "precip": {
      "type": "number"
    },
    "precipprob": {
      "type": "number"
    },
    "snow": {
      "type": "number"
    },
    "snowdepth": {
      "type": "number"
    },
"preciptype": {
  "type": ["array", "string", "null"],
  "items": {
    "type": "string"
  }
},
    "windgust": {
      "type": "number"
    },
    "windspeed": {
      "type": "number"
    },
    "winddir": {
      "type": "number"
    },
    "pressure": {
      "type": "number"
    },
    "visibility": {
      "type": "number"
    },
    "cloudcover": {
      "type": "number"
    },
    "solarradiation": {
      "type": "number"
    },
    "solarenergy": {
      "type": "number"
    },
    "uvindex": {
      "type": "number"
    },
    "severerisk": {
      "type": "number"
    },
    "conditions": {
      "type": "string"
    },
    "icon": {
      "type": "string"
    },
    "stations": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "source": {
      "type": "string"
    },
    "day": {
      "type": "object",
      "properties": {
        "humidity": {
          "type": "number"
        },
        "sunrise": {
          "type": "string"
        },
        "tempmin": {
          "type": "number"
        },
        "windspeed": {
          "type": "number"
        },
        "preciptype": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "solarradiation": {
          "type": "number"
        },
        "pressure": {
          "type": "number"
        },
        "visibility": {
          "type": "number"
        },
        "solarenergy": {
          "type": "number"
        },
        "severerisk": {
          "type": "number"
        },
        "dew": {
          "type": "number"
        },
        "tempmax": {
          "type": "number"
        },
        "precip": {
          "type": "number"
        },
        "snowdepth": {
          "type": "number"
        },
        "description": {
          "type": "string"
        },
        "winddir": {
          "type": "number"
        },
        "feelslike": {
          "type": "number"
        },
        "precipprob": {
          "type": "number"
        },
        "windgust": {
          "type": "number"
        },
        "uvindex": {
          "type": "number"
        },
        "moonphase": {
          "type": "number"
        },
        "temp": {
          "type": "number"
        },
        "feelslikemin": {
          "type": "number"
        },
        "sunriseEpoch": {
          "type": "integer"
        },
        "feelslikemax": {
          "type": "number"
        },
        "sunsetEpoch": {
          "type": "integer"
        },
        "cloudcover": {
          "type": "number"
        },
        "snow": {
          "type": "number"
        },
        "precipcover": {
          "type": "number"
        },
        "conditions": {
          "type": "string"
        },
        "sunset": {
          "type": "string"
        }
      },
      "required": ["humidity", "tempmin", "tempmax", "description"]
    },
    "timezone": {
      "type": "string"
    },
    "name": {
      "type": "string"
    },
    "latitude": {
      "type": "number"
    },
    "longitude": {
      "type": "number"
    },
    "resolvedAddress": {
      "type": "string"
    },
    "date": {
      "type": "string"
    },
    "address": {
      "type": "string"
    },
    "tzoffset": {
      "type": "number"
    }
  }
}</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>DRAFT_2020_12</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateJson</type>
                </processors>
                <processors>
                    <id>66ef3ba8-d2b3-31f6-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1368.0</x>
                        <y>104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <dependencies>
        <dependentValues>Avro</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <dependencies>
        <dependentValues>Bin-Packing Algorithm</dependentValues>
        <propertyName>Merge Strategy</propertyName>
    </dependencies>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <dependencies>
        <dependentValues>Filename</dependentValues>
        <dependentValues>Text</dependentValues>
        <propertyName>Delimiter Strategy</propertyName>
    </dependencies>
    <dependencies>
        <dependentValues>Binary Concatenation</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <dependencies>
        <dependentValues>ZIP</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <dependencies>
        <dependentValues>ZIP</dependentValues>
        <dependentValues>TAR</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <dependencies>
        <dependentValues>TAR</dependentValues>
        <propertyName>Merge Format</propertyName>
    </dependencies>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>datetime</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>24</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>25</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>9d51750c-e537-36ff-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>198.99998843314597</x>
                        <y>-211.50001410236587</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>cloudcover</key>
<value>
    <name>cloudcover</name>
</value>
                            </entry>
                            <entry>
<key>conditions</key>
<value>
    <name>conditions</name>
</value>
                            </entry>
                            <entry>
<key>datetime</key>
<value>
    <name>datetime</name>
</value>
                            </entry>
                            <entry>
<key>datetimeEpoch</key>
<value>
    <name>datetimeEpoch</name>
</value>
                            </entry>
                            <entry>
<key>description</key>
<value>
    <name>description</name>
</value>
                            </entry>
                            <entry>
<key>dew</key>
<value>
    <name>dew</name>
</value>
                            </entry>
                            <entry>
<key>feelslike</key>
<value>
    <name>feelslike</name>
</value>
                            </entry>
                            <entry>
<key>feelslikemax</key>
<value>
    <name>feelslikemax</name>
</value>
                            </entry>
                            <entry>
<key>feelslikemin</key>
<value>
    <name>feelslikemin</name>
</value>
                            </entry>
                            <entry>
<key>humidity</key>
<value>
    <name>humidity</name>
</value>
                            </entry>
                            <entry>
<key>icon</key>
<value>
    <name>icon</name>
</value>
                            </entry>
                            <entry>
<key>moonphase</key>
<value>
    <name>moonphase</name>
</value>
                            </entry>
                            <entry>
<key>precip</key>
<value>
    <name>precip</name>
</value>
                            </entry>
                            <entry>
<key>precipcover</key>
<value>
    <name>precipcover</name>
</value>
                            </entry>
                            <entry>
<key>precipprob</key>
<value>
    <name>precipprob</name>
</value>
                            </entry>
                            <entry>
<key>preciptype</key>
<value>
    <name>preciptype</name>
</value>
                            </entry>
                            <entry>
<key>pressure</key>
<value>
    <name>pressure</name>
</value>
                            </entry>
                            <entry>
<key>severerisk</key>
<value>
    <name>severerisk</name>
</value>
                            </entry>
                            <entry>
<key>snow</key>
<value>
    <name>snow</name>
</value>
                            </entry>
                            <entry>
<key>snowdepth</key>
<value>
    <name>snowdepth</name>
</value>
                            </entry>
                            <entry>
<key>solarenergy</key>
<value>
    <name>solarenergy</name>
</value>
                            </entry>
                            <entry>
<key>solarradiation</key>
<value>
    <name>solarradiation</name>
</value>
                            </entry>
                            <entry>
<key>source</key>
<value>
    <name>source</name>
</value>
                            </entry>
                            <entry>
<key>sunrise</key>
<value>
    <name>sunrise</name>
</value>
                            </entry>
                            <entry>
<key>sunriseEpoch</key>
<value>
    <name>sunriseEpoch</name>
</value>
                            </entry>
                            <entry>
<key>sunset</key>
<value>
    <name>sunset</name>
</value>
                            </entry>
                            <entry>
<key>sunsetEpoch</key>
<value>
    <name>sunsetEpoch</name>
</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>
    <name>temp</name>
</value>
                            </entry>
                            <entry>
<key>tempmax</key>
<value>
    <name>tempmax</name>
</value>
                            </entry>
                            <entry>
<key>tempmin</key>
<value>
    <name>tempmin</name>
</value>
                            </entry>
                            <entry>
<key>uvindex</key>
<value>
    <name>uvindex</name>
</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>
    <name>visibility</name>
</value>
                            </entry>
                            <entry>
<key>winddir</key>
<value>
    <name>winddir</name>
</value>
                            </entry>
                            <entry>
<key>windgust</key>
<value>
    <name>windgust</name>
</value>
                            </entry>
                            <entry>
<key>windspeed</key>
<value>
    <name>windspeed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>cloudcover</key>
<value>$.cloudcover</value>
                            </entry>
                            <entry>
<key>conditions</key>
<value>$.conditions</value>
                            </entry>
                            <entry>
<key>datetime</key>
<value>$.datetime</value>
                            </entry>
                            <entry>
<key>datetimeEpoch</key>
<value>$.datetimeEpoch</value>
                            </entry>
                            <entry>
<key>description</key>
<value>$.description</value>
                            </entry>
                            <entry>
<key>dew</key>
<value>$.dew</value>
                            </entry>
                            <entry>
<key>feelslike</key>
<value>$.feelslike</value>
                            </entry>
                            <entry>
<key>feelslikemax</key>
<value>$.feelslikemax</value>
                            </entry>
                            <entry>
<key>feelslikemin</key>
<value>$.feelslikemin</value>
                            </entry>
                            <entry>
<key>humidity</key>
<value>$.humidity</value>
                            </entry>
                            <entry>
<key>icon</key>
<value>$.icon</value>
                            </entry>
                            <entry>
<key>moonphase</key>
<value>$.moonphase</value>
                            </entry>
                            <entry>
<key>precip</key>
<value>$.precip</value>
                            </entry>
                            <entry>
<key>precipcover</key>
<value>$.precipcover</value>
                            </entry>
                            <entry>
<key>precipprob</key>
<value>$.precipprob</value>
                            </entry>
                            <entry>
<key>preciptype</key>
<value>$.preciptype.[0]</value>
                            </entry>
                            <entry>
<key>pressure</key>
<value>$.pressure</value>
                            </entry>
                            <entry>
<key>severerisk</key>
<value>$.severerisk</value>
                            </entry>
                            <entry>
<key>snow</key>
<value>$.snow</value>
                            </entry>
                            <entry>
<key>snowdepth</key>
<value>$.snowdepth</value>
                            </entry>
                            <entry>
<key>solarenergy</key>
<value>$.solarenergy</value>
                            </entry>
                            <entry>
<key>solarradiation</key>
<value>$.solarradiation</value>
                            </entry>
                            <entry>
<key>source</key>
<value>$.source</value>
                            </entry>
                            <entry>
<key>sunrise</key>
<value>$.sunrise</value>
                            </entry>
                            <entry>
<key>sunriseEpoch</key>
<value>$.sunriseEpoch</value>
                            </entry>
                            <entry>
<key>sunset</key>
<value>$.sunset</value>
                            </entry>
                            <entry>
<key>sunsetEpoch</key>
<value>$.sunsetEpoch</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>$.temp</value>
                            </entry>
                            <entry>
<key>tempmax</key>
<value>$.tempmax</value>
                            </entry>
                            <entry>
<key>tempmin</key>
<value>$.tempmin</value>
                            </entry>
                            <entry>
<key>uvindex</key>
<value>$.uvindex</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>$.visibility</value>
                            </entry>
                            <entry>
<key>winddir</key>
<value>$.winddir</value>
                            </entry>
                            <entry>
<key>windgust</key>
<value>$.windgust</value>
                            </entry>
                            <entry>
<key>windspeed</key>
<value>$.windspeed</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>abbdc7d7-8c57-319c-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>206.99998843314597</x>
                        <y>420.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-default</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
      "latitude": ${latitude},
      "longitude": ${longitude},
      "resolvedAddress": "Quan 1, Ho Chi Minh, Viet Nam",
      "address": "${address}",
      "timezone": "${timezone}",
      "tzoffset": ${tzoffset},
      "name": "${name}"
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>b048c124-2af6-3229-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>214.99998843314597</x>
                        <y>724.4999858976341</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Access Strategy</key>
<value>
    <name>Schema Access Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
    <name>JSON Schema Registry</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema Version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Access Strategy</key>
<value>SCHEMA_CONTENT_PROPERTY</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>{
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string",
            "format": "date"
          },
          "datetimeEpoch": {
            "type": "integer"
          },
          "tempmax": {
            "type": "number"
          },
          "tempmin": {
            "type": "number"
          },
          "temp": {
            "type": "number"
          },
          "feelslikemax": {
            "type": "number"
          },
          "feelslikemin": {
            "type": "number"
          },
          "feelslike": {
            "type": "number"
          },
          "dew": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "precip": {
            "type": "number"
          },
          "precipprob": {
            "type": "number"
          },
          "precipcover": {
            "type": "number"
          },
          "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
		  ,
          "snow": {
            "type": "number"
          },
          "snowdepth": {
            "type": "number"
          },
          "windgust": {
            "type": "number"
          },
          "windspeed": {
            "type": "number"
          },
          "winddir": {
            "type": "number"
          },
          "pressure": {
            "type": "number"
          },
          "cloudcover": {
            "type": "number"
          },
          "visibility": {
            "type": "number"
          },
          "solarradiation": {
            "type": "number"
          },
          "solarenergy": {
            "type": "number"
          },
          "uvindex": {
            "type": "number"
          },
          "severerisk": {
            "type": "number"
          },
          "sunrise": {
            "type": "string"
          },
          "sunriseEpoch": {
            "type": "integer"
          },
          "sunset": {
            "type": "string"
          },
          "sunsetEpoch": {
            "type": "integer"
          },
          "moonphase": {
            "type": "number"
          },
          "conditions": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "stations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "hours": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string",
                  "format": "time"
                },
                "datetimeEpoch": {
                  "type": "integer"
                },
                "temp": {
                  "type": "number"
                },
                "feelslike": {
                  "type": "number"
                },
                "humidity": {
                  "type": "number"
                },
                "dew": {
                  "type": "number"
                },
                "precip": {
                  "type": "number"
                },
                "precipprob": {
                  "type": "number"
                },
                "snow": {
                  "type": "number"
                },
                "snowdepth": {
                  "type": "number"
                },
                "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
                "windgust": {
                  "type": "number"
                },
                "windspeed": {
                  "type": "number"
                },
                "winddir": {
                  "type": "number"
                },
                "pressure": {
                  "type": "number"
                },
                "visibility": {
                  "type": "number"
                },
                "cloudcover": {
                  "type": "number"
                },
                "solarradiation": {
                  "type": "number"
                },
                "solarenergy": {
                  "type": "number"
                },
                "uvindex": {
                  "type": "number"
                },
                "severerisk": {
                  "type": "number"
                },
                "conditions": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source": {
                  "type": "string"
                }
              }
            }
          }
        }
      }</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>DRAFT_2020_12</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateJson</type>
                </processors>
                <processors>
                    <id>c9468d99-7af9-30e2-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-353.000011566854</x>
                        <y>716.4999858976341</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.days[*]</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>d012fb6d-ff69-335b-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>768.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-transactions</propertyName>
    </dependencies>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
<value>
    <dependencies>
        <dependentValues>AWS_MSK_IAM</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>aws.profile.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <dependencies>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>nifi:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>weatherHCMC_in</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>all</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
                <processors>
                    <id>dba206e5-943d-35b7-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-361.000011566854</x>
                        <y>84.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Access Strategy</key>
<value>
    <name>Schema Access Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
    <name>JSON Schema Registry</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema Version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Access Strategy</key>
<value>SCHEMA_CONTENT_PROPERTY</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>{
  "type": "object",
  "properties": {
    "latitude": {
      "type": "number"
    },
    "longitude": {
      "type": "number"
    },
    "resolvedAddress": {
      "type": "string"
    },
    "address": {
      "type": "string"
    },
    "timezone": {
      "type": "string"
    },
    "tzoffset": {
      "type": "number"
    },
    "name": {
      "type": "string"
    },
    "days": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string",
            "format": "date"
          },
          "datetimeEpoch": {
            "type": "integer"
          },
          "tempmax": {
            "type": "number"
          },
          "tempmin": {
            "type": "number"
          },
          "temp": {
            "type": "number"
          },
          "feelslikemax": {
            "type": "number"
          },
          "feelslikemin": {
            "type": "number"
          },
          "feelslike": {
            "type": "number"
          },
          "dew": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "precip": {
            "type": "number"
          },
          "precipprob": {
            "type": "number"
          },
          "precipcover": {
            "type": "number"
          },
          "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
		  ,
          "snow": {
            "type": "number"
          },
          "snowdepth": {
            "type": "number"
          },
          "windgust": {
            "type": "number"
          },
          "windspeed": {
            "type": "number"
          },
          "winddir": {
            "type": "number"
          },
          "pressure": {
            "type": "number"
          },
          "cloudcover": {
            "type": "number"
          },
          "visibility": {
            "type": "number"
          },
          "solarradiation": {
            "type": "number"
          },
          "solarenergy": {
            "type": "number"
          },
          "uvindex": {
            "type": "number"
          },
          "severerisk": {
            "type": "number"
          },
          "sunrise": {
            "type": "string"
          },
          "sunriseEpoch": {
            "type": "integer"
          },
          "sunset": {
            "type": "string"
          },
          "sunsetEpoch": {
            "type": "integer"
          },
          "moonphase": {
            "type": "number"
          },
          "conditions": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "stations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "hours": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string",
                  "format": "time"
                },
                "datetimeEpoch": {
                  "type": "integer"
                },
                "temp": {
                  "type": "number"
                },
                "feelslike": {
                  "type": "number"
                },
                "humidity": {
                  "type": "number"
                },
                "dew": {
                  "type": "number"
                },
                "precip": {
                  "type": "number"
                },
                "precipprob": {
                  "type": "number"
                },
                "snow": {
                  "type": "number"
                },
                "snowdepth": {
                  "type": "number"
                },
                "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
                "windgust": {
                  "type": "number"
                },
                "windspeed": {
                  "type": "number"
                },
                "winddir": {
                  "type": "number"
                },
                "pressure": {
                  "type": "number"
                },
                "visibility": {
                  "type": "number"
                },
                "cloudcover": {
                  "type": "number"
                },
                "solarradiation": {
                  "type": "number"
                },
                "solarenergy": {
                  "type": "number"
                },
                "uvindex": {
                  "type": "number"
                },
                "severerisk": {
                  "type": "number"
                },
                "conditions": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>DRAFT_2020_12</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateJson</type>
                </processors>
                <processors>
                    <id>edcc976f-f6e6-37e7-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>750.999988433146</x>
                        <y>428.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-transform</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-default</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
      "latitude": ${latitude},
      "longitude": ${longitude},
      "resolvedAddress": "Quan 1, Ho Chi Minh, Viet Nam",
      "address": "${address}",
      "timezone": "${timezone}",
      "tzoffset": ${tzoffset},
      "name": "${name}",
	  "date": "${datetime}",
	"day":{
		"tempmax": ${tempmax},
		"tempmin": ${tempmin},
		"temp": ${temp},
		"feelslikemax": ${feelslikemax},
		"feelslikemin": ${feelslikemin},
		"feelslike": ${feelslike},
		"dew": ${dew},
		"humidity": ${humidity},
		"precip": ${precip},
		"precipprob": ${precipprob},
		"precipcover": ${precipcover},
		"preciptype": "${preciptype}",
		"snow": ${snow},
		"snowdepth": ${snowdepth},
		"windgust": ${windgust},
		"windspeed": ${windspeed},
		"winddir": ${winddir},
		"pressure": ${pressure},
		"cloudcover": ${cloudcover},
		"visibility": ${visibility},
		"solarradiation": ${solarradiation},
		"solarenergy": ${solarenergy},
		"uvindex": ${uvindex},
		"severerisk": ${severerisk},
		"sunrise": "${sunrise}",
		"sunriseEpoch": ${sunriseEpoch},
		"sunset": "${sunset}",
		"sunsetEpoch": ${sunsetEpoch},
		"moonphase": ${moonphase},
		"conditions": "${conditions}",
		"description": "${description}",
		"icon": "${icon}"
	}
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>f0859032-6781-3ec2-0000-000000000000</id>
                    <parentGroupId>65732015-c9eb-3e0b-0000-000000000000</parentGroupId>
                    <position>
                        <x>742.999988433146</x>
                        <y>92.49998589763413</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Access Strategy</key>
<value>
    <name>Schema Access Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
    <name>JSON Schema Registry</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema</name>
</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>
    <dependencies>
        <dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
        <propertyName>Schema Access Strategy</propertyName>
    </dependencies>
    <name>JSON Schema Version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Access Strategy</key>
<value>SCHEMA_CONTENT_PROPERTY</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>${schema.name}</value>
                            </entry>
                            <entry>
<key>JSON Schema Registry</key>
                            </entry>
                            <entry>
<key>JSON Schema</key>
<value>{
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string",
                  "format": "time"
                },
                "datetimeEpoch": {
                  "type": "integer"
                },
                "temp": {
                  "type": "number"
                },
                "feelslike": {
                  "type": "number"
                },
                "humidity": {
                  "type": "number"
                },
                "dew": {
                  "type": "number"
                },
                "precip": {
                  "type": "number"
                },
                "precipprob": {
                  "type": "number"
                },
                "snow": {
                  "type": "number"
                },
                "snowdepth": {
                  "type": "number"
                },
                "preciptype": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
                "windgust": {
                  "type": "number"
                },
                "windspeed": {
                  "type": "number"
                },
                "winddir": {
                  "type": "number"
                },
                "pressure": {
                  "type": "number"
                },
                "visibility": {
                  "type": "number"
                },
                "cloudcover": {
                  "type": "number"
                },
                "solarradiation": {
                  "type": "number"
                },
                "solarenergy": {
                  "type": "number"
                },
                "uvindex": {
                  "type": "number"
                },
                "severerisk": {
                  "type": "number"
                },
                "conditions": {
                  "type": "string"
                },
                "icon": {
                  "type": "string"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "source": {
                  "type": "string"
                }
              }
            }</value>
                            </entry>
                            <entry>
<key>JSON Schema Version</key>
<value>DRAFT_2020_12</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateJson</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>WeatherToBronze</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/23/2024 15:49:59 UTC</timestamp>
</template>
